<template>


<div>
  <div v-if="viewCondition($route.path,'/membership/login', '/membership/passwordremind' , '/membership/passwordreset/')">
    <router-view></router-view>

  </div>

  <div v-else>
    <div class="bg-light py-5" style="height: 100%;">
      <div class="container h-100">
        <div class="row justify-content-center h-100">
          <div class="col-lg-3 d-none d-lg-block">
            <sideBar></sideBar>
          </div>      
          <div class="col-lg-9 col-sm-12">
            <ul class="nav nav-tabs d-lg-none">
              <li class="nav-item" v-for='(route,index) in routes' :key="index">
                <router-link :to="route.path" class="nav-link" :class="sideBarCondition($route.path, route.path)">{{route.name}}</router-link>
              </li>
              <li class="nav-item">
                <button @click.prevent="handleLogout" class="nav-link text-danger"><i class=" fa fa-sign-out-alt fa-lg"></i> <span class="ml-2">Logout</span></button>
              </li>
            </ul>          
            <div class="card rounded-0">
              <div class="card-body">
                <router-view></router-view>
              </div>
            </div>                          
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>

</template>
<script>
  import sideBar from './components/SideBar'
  export default {
    data() {
      return {
        routes: [
          {name: 'Overview', path: '/membership/dashboard', fa: 'fa fa-lg fa-home'},
          {name: 'Credentials', path: '/membership/credentials', fa: 'fa fa-lg fa-key'},
          {name: 'Paydues', path: '/membership/paydues', fa: 'fa fa-lg fa-credit-card'},
          {name: 'Lectures', path: '/membership/lectures', fa: 'fas fa-lg fa-book'}
        ],
      }
    },
    components: {
      sideBar,
    },
    mounted(){
      // console.log(this.$route)
    },
    methods:{
      viewCondition(rpath,lpath,passwordremindpath, passwordresetpath){
        if(rpath == lpath || rpath == passwordremindpath || rpath == passwordresetpath+this.$route.params.prkey){
          return true
        }
      },
      sideBarCondition(path, rpath){
        if(path == rpath){
          return 'active'
        }else{
          return ''

        }
      },
      handleLogout(){
        if(this.$route.name == 'lectureView'){

            this.$store.commit('updateUser', null)
            localStorage.clear()
            window.location.href = '/membership/login'
        }else{

          this.$store.commit('updateUser', null)
          localStorage.clear()
          this.$router.push('/membership/login')
        }
      }
    }
  }
</script>
