<template lang="">
    <div>
        <div class="form-group">
            <label>{{label}}</label>
            <input 
                class="form-control" 
                :type="type" 
                :placeholder="placeholder" 
                :value="value"
                @input="updateValue($event.target.value)"

            >
        </div>
    </div>
</template>
<script>
export default {
    props: ['type', 'placeholder', 'label', 'value'],
    methods:{
        updateValue(val){
            this.$emit('input', val)

        }

    },
    data() {
        return {
            
        }
    },
    
}
</script>
<style lang="">
    
</style>