<template lang="">
    <div>
        <div class="form-group">
            <label class="form-label">{{label}}</label>
            <select 
                class="form-control"
                :value="value"
                @input="updateValue($event.target.value)"
            >
                <option v-for="(item, index) in options" :key="index" :value="item.value">{{item.value}}</option>
            </select>
        </div>
    </div>
</template>
<script>
export default {
    props: ['label', 'value', 'options'],
    methods:{
        updateValue(val){
            this.$emit('input', val)

        }

    },
    data() {
        return {
            
        }
    },
    
}
</script>
<style lang="">
    
</style>