.navbar{background:#222222;}
.nav-item::after{content:'';display:block;width:0px;height:2px;background:#fec400;transition: 0.2s;}
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;}
.nav-link{padding:15px 5px;transition:0.2s;}
.dropdown-item.active, .dropdown-item:active{color:#212529;}
.dropdown-item:focus, .dropdown-item:hover{background:#fec400;} 
h1, h2, h3, h4, h5{
font-family: "Raleway", sans-serif;
font-weight: 700;
}
p, li, label,a, input, span,textarea{
font-family: "Roboto Slab", serif;
font-weight: 400;
font-size: 16px;
}

a, a:hover{
	text-decoration: none;
	color: #777;
}


.text-yellow{
	color: #fec400;
}

#top-nav{
	background-color: #71bc55 !important; 
}

.bg-sec{
	background-color: #ffe488;
}

.icon-gradient{
	text-transform: uppercase;
	background: -webkit-linear-gradient(left, #71bc55 0%, #fec400 100%);
	background: -o-linear-gradient(left, #71bc55 0%, #fec400 100%);
	background: linear-gradient(to right, #71bc55 0%, #fec400 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.text-sec{
    color: #fec400;
}

.region-text-gradient{
    /*background-image: -webkit-linear-gradient(left, #71bc55 0%, #fec400 100%);
    background-image: -o-linear-gradient(left, #71bc55 0%, #fec400 100%);
    background-image: linear-gradient(to right, #71bc55 0%, #fec400 100%);*/

    background-image: linear-gradient(to right, rgba(113, 188, 85, 1), rgba(254, 196, 0, 0));
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  background-color: #ffe488;
  font-size: 20px;  
  top: 70px;
}   

.form-control{
    border-radius: 0px;
}

.sticky-sidebar{
  position: -webkit-sticky;
  position: sticky;
  top: 100px;    
}

.list-group-item.active{
    background-color: #3CB521;
    border-color: #3CB521;
}