<template>
  <div>
    <button class="btn btn-primary" v-if="!$store.getters.isEvaluate" type="button" @click="$router.push('/membership/evaluation')">69th PSP Annual Convention Evaluation</button>
    <br>
    <p></p>
    <div>
      <button class="btn btn-success float-right" @click="handleEditMode()" v-if="!editMode"><i class="fa fa-edit"> <span> Edit profile</span></i></button>
      <!-- info -->
      <h5 class="text-uppercase text-success bg-sec p-2 mb-3"> <i class="fa fa-info-circle fa-lg"></i> personal information</h5>
      <!-- info row -->
      <form @submit.prevent="handleSubmitUpdate()">
        
        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">First name</label>
          <div class="col-9">
            <input class="form-control form-control-lg text-uppercase" v-model='user.firstName' v-if="editMode"/>
            <p class="text-uppercase border-bottom lead" v-else>{{user.firstName}}</p>
          </div>
        </div>

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Middle name</label>
          <div class="col-9">
            <input class="form-control form-control-lg text-uppercase" v-model='user.middleName' v-if="editMode"/>
            <p class="text-uppercase border-bottom lead" v-else>{{user.middleName}}</p>
          </div>
        </div>  

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Last name</label>
          <div class="col-9">
            <input class="form-control form-control-lg text-uppercase" v-model='user.lastName' v-if="editMode" />
            <p class="text-uppercase border-bottom lead" v-else>{{user.lastName}}</p>
          </div>
        </div>     

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Birth date</label>
          <div class="col-9">
            <input class="form-control form-control-lg text-uppercase" type="date" v-model='user.birthday' v-if="editMode"/>
            <p class="text-uppercase border-bottom lead" v-else>{{user.birthday}}</p>
          </div>
        </div>   

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">PRC #</label>
          <div class="col-9">
            <input class="form-control form-control-lg text-uppercase" v-model='user.prcNumber' v-if="editMode"/>
            <p class="text-uppercase border-bottom lead" v-else>{{user.prcNumber}}</p>
          </div>
        </div> 

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">PMA #</label>
          <div class="col-9">
            <input class="form-control form-control-lg text-uppercase" v-model='user.pmaNumber' v-if="editMode"/>
            <p class="text-uppercase border-bottom lead" v-else>{{user.pmaNumber}}</p>
          </div>
        </div>  
        
        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">PhilHealth Accreditation #</label>
          <div class="col-9">
            <input class="form-control form-control-lg text-uppercase" v-model='user.philhealth_accreditation_no' v-if="editMode"/>
            <p class="text-uppercase border-bottom lead" v-else>{{user.philhealth_accreditation_no}}</p>
          </div>
        </div>                                                                                
    

        <!-- contact -->
        <h5 class="text-uppercase text-success bg-sec p-2 mb-3"> <i class="fas fa-address-book fa-lg"></i> contact information</h5>
        <!-- contact row -->
        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Email Address</label>
          <div class="col-9">
            <input class="form-control form-control-lg" type="email" v-model='user.email' v-if="editMode"/>
            <p class="text-uppercase border-bottom lead" v-else>{{user.email}}</p>
          </div>
        </div>

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Home Address</label>
          <div class="col-9">
            <input class="form-control form-control-lg" v-model='user.homeAddress' v-if="editMode" />
            <p class="text-uppercase border-bottom lead" v-else>{{user.homeAddress}}</p>
          </div>
        </div>  

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Home Address City</label>
          <div class="col-9">
            <input class="form-control form-control-lg" v-model='user.homeAddressCity' v-if="editMode" />
            <p class="text-uppercase border-bottom lead" v-else>{{user.homeAddressCity}}</p>
          </div>
        </div>     

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Home Address Country</label>
          <div class="col-9">
            <input class="form-control form-control-lg" v-model='user.homeAddressCountry' v-if="editMode" />
            <p class="text-uppercase border-bottom lead" v-else>{{user.homeAddressCountry}}</p>
          </div>
        </div>   

                 

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Zip Code</label>
          <div class="col-9">
            <input class="form-control form-control-lg" v-model='user.homeAddressZipCode' v-if="editMode" />
            <p class="text-uppercase border-bottom lead" v-else>{{user.homeAddressZipCode}}</p>
          </div>
        </div>

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Mobile #</label>
          <div class="col-9">
            <input class="form-control form-control-lg" v-model='user.mobileNumber' v-if="editMode" />
            <p class="text-uppercase border-bottom lead" v-else>{{user.mobileNumber}}</p>
          </div>
        </div> 

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Landline #</label>
          <div class="col-9">
            <input class="form-control form-control-lg" v-model='user.landlineNumber' v-if="editMode" />
            <p class="text-uppercase border-bottom lead" v-else>{{user.landlineNumber}}</p>
          </div>
        </div>   

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Residency Training Institution</label>
          <div class="col-9">
            <input class="form-control form-control-lg" v-model='user.residency_training_institution' v-if="editMode" />
            <p class="text-uppercase border-bottom lead" v-else>{{user.residency_training_institution}}</p>
          </div>
        </div>

        <div class="form-group row ">
          <label for="inputPassword" class="col-3 col-form-label text-right">Membership classification</label>
          <div class="col-9">
            <div class="form-group">
              <select id="my-select" class="custom-select" name="" v-model='user.classification' v-if="editMode">
                <option v-for="(item, index) in classifications" :key="index" :value="item.value">{{item.value}}</option>
              </select>
              <p class="text-uppercase border-bottom lead" v-else>{{user.classification}}</p>
            </div>
          </div>
        </div>   
        <div  v-if="user.classification != 'Non-Member'">
          <div class="form-group row " v-if="!editMode" >
            <label for="inputPassword" class="col-3 text-right">Year Accepted</label>
            <div class="col-9">
              <p class="border-bottom lead">{{user.year_accepted}}</p>
            </div>
          </div>          
          <div class="form-group row ">
            <label for="inputPassword" class="col-3 col-form-label text-right">Current Status</label>
            <div class="col-9">
              <div class="form-group">
                <select id="my-select" class="custom-select" name="" v-model='user.status' v-if="editMode">
                  <option v-for="(item, index) in statuses" :key="index" :value="item.value">{{item.value}}</option>
                </select>
                <p class="text-uppercase border-bottom lead" v-else>{{user.classification}}</p>
              </div>
            </div>
          </div>             
        

          <div class="form-group row ">
            <label for="inputPassword" class="col-3 col-form-label text-right">Specialty</label>
            <div class="col-9">
              <div class="form-group">
                <select id="my-select" class="custom-select" name="" v-model='user.specialty' v-if="editMode">
                  <option v-for="(item, index) in specialties" :key="index" :value="item.value">{{item.value}}</option>
                </select>
                <p class="text-uppercase border-bottom lead" v-else>{{user.specialty}}</p>
              </div>
            </div>
          </div>            

          <div class="form-group row ">
            <label for="inputPassword" class="col-3 col-form-label text-right">Area of Practice</label>
            <div class="col-9" v-if="editMode">
              <div class="custom-control custom-checkbox" v-for="(item, index) in areas_of_practice" :key="index" >
                <input :id="'customCheck_'+index" class="custom-control-input" v-model='area_of_practice' type="checkbox" :name="'aop_'+index" :value="item.key">
                <label :for="'customCheck_'+index" class="custom-control-label">{{item.value}}</label>
              </div>
              
            </div>
            <div class="col-9" v-else>
             
              <ul v-if="user.area_of_practice">
                <li v-for="(aop_item, aop_item_index) in (user.area_of_practice).split(',')" :key="aop_item_index">
                  {{aop_item}}
                </li>
              </ul>
            </div>            
          </div>  


          <div class="form-group row ">
            <label for="inputPassword" class="col-3 col-form-label text-right">Chapter Membership</label>
            <div class="col-9">
              <div class="form-group">
                <select id="my-select" class="custom-select" name="" v-model='user.chapter_membership' v-if="editMode">
                  <option v-for="(item, index) in charters_membership" :key="index" :value="item.value">{{item.value}}</option>
                </select>
                <p class="text-uppercase border-bottom lead" v-else>{{user.chapter_membership}}</p>
              </div>
            </div>
          </div>           
        </div>


        <hr>
        <div class="row justify-content-center " v-if="editMode">
          <p class="mx-3 text-justify">I express my consent for the Philippine Society of Pathologists, Inc. to collect, record, organize, update or modify, retrieve, consult, use, consolidate, block, erase my personal data as part of my information. 
            PSP shall not disclose the member’s personal information without their consent and shall retain this information for the effective management of the organization.
          </p>
          <button class="col-3 btn btn-success mx-3"><i class="fa fa-check"> <span> Update</span></i></button>

          <button class="col-3 btn btn-danger" @click="handleEditMode()"><i class="fa fa-times"> <span> Cancel update</span></i></button>          
        </div>
      </form>
      <div class="form-group row">
      </div>  
    </div>        
    
  </div>

</template>

<script>

  export default{
    watch:{
      select_classification(e){
        if(e == 'Non-Member'){
          this.user.status = null
          this.user.specialty = null
          this.user.area_of_practice = null
          this.user.chapter_membership = null
        }else{
          this.$store.dispatch("getUser");
        }
      }
    },
    mounted(){
      this.init()
      
    },
    data(){
      return {
        alert: false,
        editMode: false,
        area_of_practice: [],
        chapter_membership: 'NCR',
        classifications: [
          {'value': 'Regular Member'},
          {'value': 'Life Member'},
          {'value': 'Non-Member'},
        ],
        statuses:[
          {'value': 'Diplomate'},
          {'value': 'Fellow'},
        ],
        specialties: [
          {'value': 'Anatomic Pathology'},
          {'value': 'Clinical Pathology'},
          {'value': 'Anatomic and Clinical Pathology'},
          
        ],
        areas_of_practice:[
          {'key': 'Region I', 'value': 'Ilocos Region'},
          {'key': 'Region II', 'value': 'Cagayan Valley'},
          {'key': 'Region III', 'value': 'Central Luzon'},
          {'key': 'Region IV-A', 'value': 'CALABARZON'},
          {'key': 'Region IV-B', 'value': 'MIMAROPA Region'},
          {'key': 'Region V', 'value': 'Bicol Region'},
          {'key': 'Region VI', 'value': 'Western Visayas'},
          {'key': 'Region VII', 'value': 'Central Visayas'},
          {'key': 'Region VIII', 'value': 'Eastern Visayas'},
          {'key': 'Region IX', 'value': 'Zamboanga Peninsula'},
          {'key': 'Region X', 'value': 'Northern Mindanao'},
          {'key': 'Region XI', 'value': 'Davao Region'},
          {'key': 'Region XII', 'value': 'SOCCSKSARGEN'},
          {'key': 'Region XIII', 'value': 'Caraga'},
          {'key': 'NCR', 'value': 'National Capital Region'},
          {'key': 'CAR', 'value': 'Cordillera Administrative Region'},
          {'key': 'BARMM', 'value': 'Bangsamoro Autonomous Region in Muslim Mindanao '},
        ],
        charters_membership:[
          {'value': 'NCR'},
          {'value': 'CENTRAL LUZON'},
          {'value': 'NORTHERN LUZON'},
          {'value': 'SOUTHERN LUZON'},
          {'value': 'BICOL'},
          {'value': 'CENTRAL VISAYAS'},
          {'value': 'WESTERN VISAYAS'},
          {'value': 'SOUTH WESTERN MINDANAO	'},
          {'value': 'SOUTHERN MINDANAO'},
          {'value': 'NORTHERN MINDANAO'},
        ]

      }
    },
    methods:{
      init(){
        this.$store.dispatch("getUser");
        
      },
      handleEditMode(){
        this.editMode = !this.editMode
        this.$store.dispatch("getUser");
      },
      async handleSubmitUpdate(){
        let fd = new FormData()
        fd.append('firstName', this.user.firstName)
        fd.append('middleName', this.user.middleName)
        fd.append('lastName', this.user.lastName)
        fd.append('birthday', this.user.birthday)
        fd.append('prcNumber', this.user.prcNumber)
        fd.append('pmaNumber', this.user.pmaNumber)
        fd.append('email', this.user.email)
        fd.append('homeAddress', this.user.homeAddress)
        fd.append('homeAddressCity', this.user.homeAddressCity)
        fd.append('homeAddressCountry', this.user.homeAddressCountry)
        fd.append('mobileNumber', this.user.mobileNumber)
        fd.append('landlineNumber', this.user.landlineNumber)
        fd.append('faxNumber', this.user.faxNumber)
        fd.append('homeAddressZipCode', this.user.homeAddressZipCode)
        fd.append('philhealth_accreditation_no' , this.user.philhealth_accreditation_no)
        fd.append('residency_training_institution', this.user.residency_training_institution)
        fd.append('classification', this.user.classification)
        fd.append('status', this.user.classification == 'Non-Member' ? null : this.user.status)
        fd.append('specialty', this.user.classification == 'Non-Member' ? null : this.user.specialty)
        fd.append('area_of_practice', this.user.classification == 'Non-Member' ? null : this.area_of_practice)
        fd.append('chapter_membership', this.user.classification == 'Non-Member' ? null : this.user.chapter_membership)
        try{
          let {data} = await axios.post('/api/users/update?api_token='+localStorage.getItem('access_token'), fd)
          this.handleEditMode()
          this.$store.commit('updateUser', data.user)
        }catch({response}){
          alert(response.statusText)
        }
      }
    },
    computed: {
      user() {
        return this.$store.getters.user
      },

    },    
  }
</script>