<template>
<div >
  <modalUpload 
    @handleChangeChild="handleChange"
    @onFileSelectedChild="onFileSelected"
    @handleUploadCredentials="handleUploadCredentials"
    @closeModal="closeModal()">
  </modalUpload>  
  <div  v-if="!isShowCreds"> 
    <button class="btn btn-outline-success btn-lg rounded-0 mb-3"  @click="showModal = true"><i class="fa fa-upload"></i> Upload credentials</button>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-sm-12 mb-2" v-for="(item, index) in items" :key="index">
        <div class="card rounded-0" >
          <div class="card-body justify-content-center">
            <div class="row align-items-center">
              <div class="col-4 ">
                <i class="fa-5x ml-2 icon-gradient img-thumbnail" :class="item.fa"></i>
              </div>
              <div class="col-8">
                <h4 class="card-text">{{item.cardText}}</h4>
                <button @click="handleShowCredential(item.cardText, item.value)" class="btn btn-outline-success"><i class="fa fa-search"></i> View</button>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>

  <div v-else> 
    <button @click="goBack" class="btn btn-outline-danger"><i class="fas fa-arrow-left"></i> Go back</button>
      <h3 class="text-center"> {{showCredentialCardText}} </h3>
      <hr>
      <div class=" row justify-content-center text-center" v-if="credType != 'PSPCERT'">
        <div class="col" >
          <i class="fa fa-spinner fa-spin fa-5x" v-show="isLoading"></i>
          <img :src="credFile" alt="" class="img-fluid">
          <div v-if="showUploadBtn">
             <p>No {{showCredentialCardText}} yet. To upload {{showCredentialCardText}}, go back to lists then click the Upload button and choose {{showCredentialCardText}}.</p>
          </div>
        </div>
      </div>
      <div class="row" v-else>
        <div class="col" >
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" :src="'/api/credentials/psp-cert?api_token='+token+'#zoom=58'" allowfullscreen></iframe>
          </div>
        </div>  
      </div>
  </div>
</div>

</template>
<script>
  import modalUpload from './ModalUpload'
  export default {
    data() {
      return {
        token: localStorage.getItem('access_token'),
        items: [
          {'cardText' : 'Authority to practice', 'fa':'fa fa-key', 'value': 'ATP'},
          {'cardText' : 'Certificate of Good Standing', 'fa':'fa fa-certificate' , 'value': 'CGS'},
          {'cardText' : 'PRC Certificate', 'fa':'fa fa-users' , 'value': 'PRCCERT'},
          {'cardText' : 'PRC ID', 'fa':'fas fa-id-card' , 'value': 'PRCID'},
          {'cardText' : 'PRC Card', 'fa':'fas fa-stethoscope' , 'value': 'PRCCARD'},
          {'cardText' : 'PSP Certificate', 'fa':'fas fa-microscope' , 'value': 'PSPCERT'},
          {'cardText' : 'CV', 'fa':'far fa-file-alt' , 'value': 'CV'},
          {'cardText' : 'Picture', 'fa':'fas fa-camera-retro' , 'value': 'PICTURE'},
          {'cardText' : 'Philhealth Accreditation', 'fa':'fab fa-first-order-alt' , 'value': 'PHILHEALTH'},
        ],
        showModal: false,
        isShowCreds: false,
        showCredentialCardText: '',
        credFile: null,
        credType: '',
        selectedFile: null,
        dataVal: '',
        isLoading: true,
        showUploadBtn: false
        //
      }
    },

    methods:{
      closeModal(){
        this.showModal = false
      },

      fetchCredential(credType){
        const vm = this;
        axios
            .get('/api/credentials/show/'+credType+'?api_token='+localStorage.getItem('access_token'))
            .then(({data})=>{
                if(data.credential != null){
                  vm.credFile = data.credential.file_path
                  vm.isLoading = false
                }else{

                  vm.showUploadBtn = true
                }
                vm.isLoading = false
            })        
      },

      handleShowCredential(cardText, credType){
          const vm = this;
          if(credType != 'PSPCERT'){
            vm.fetchCredential(credType)
          }
          vm.showCredentialCardText = cardText;
          vm.isShowCreds = true
          vm.credType = credType
      },
      goBack(){
        this.isShowCreds = !this.isShowCreds
        this.credFile = null
        this.isLoading = true
        this.showUploadBtn = false
      },
      handleChange(e){
        this.dataVal = e
        // console.log()
      },
      onFileSelected(e){
          this.selectedFile = e;
      },
      handleUploadCredentials(){
        let vm = this;
        const config = {
            headers: { 'content-type': 'multipart/form-data' }
        }        
        let fd = new FormData();
        fd.append('image' , vm.selectedFile);
        fd.append('credtype' , vm.credType);
        axios
            .post('/api/credentials/save?api_token='+localStorage.getItem('access_token'), fd, config)
            .then(({data})=>{
                this.showModal = !this.showModal
                this.fetchCredential(this.credType)
            })
      }      
    },
    components: {
      modalUpload,
    }
  }
</script>
