<template>
<div>
  <!-- 
    <button class="btn btn-primary" type="button" @click="handleClickApply">apply for certificate of good standing</button>
  -->
  <accountInformation></accountInformation>
  <hospitalAffiliation></hospitalAffiliation>
</div>
</template>
<script>
  import accountInformation from './AccountInformation'
  import hospitalAffiliation from './HospitalAffiliation'
  export default {
    data() {
      return {
        //
      }
    },
    components: {
      accountInformation,
      hospitalAffiliation
    },
    methods:{
      async handleClickApply(){
        let fd = new FormData
        fd.append('type', 'good_standing')
        try{
          // let {data} = await axios.post('/api/application/submit?api_token='+localStorage.getItem('access_token'), fd);
          console.log(data)
        }catch({response}){
          alert(response.statusText)
        }
      }
    }
  }
</script>
