<template >
    <div class="text-center">
        <div class="alert alert-danger" role="alert" v-if="hasContentError && hasAdherenceError">
            Rate must be from 1 to 5 only
        </div>
        <div class="alert alert-primary" role="alert" v-if="isSuccess">
            <p>Thank you very much for your cooperation.	</p>
        </div>
        <h3>EVALUATION FORM</h3>
        <h3>69TH ANNUAL CONVENTION</h3>
        <p class="lead">
        “CHARTERING the FUTURE of the PRACTICE of PATHOLOGY and LABORATORY MEDICINE”
            April 23 – 26, 2021

            We value your comments and suggestions in order for us to know
            our strengths and weaknesses.
            Your feedback will be most helpful for our future convention. 
            Kindly fill up this evaluation form.

        </p>
        <p><strong>Rate the following and check opposite each item.</strong></p>

        <div class="row">
            <table class="table table-light table-responsive table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="text-">I.  CONVENTION SITE (VIRTUAL)</th>
                        <th>POOR</th>
                        <th>FAIR</th>
                        <th>GOOD</th>
                        <th>VERY GOOD</th>
                        <th>EXCELLENT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in $store.getters.convention_site_eval.items" :key="index">
                        <td>{{item.description}}</td>
                        <td v-for="countIndex in $store.getters.convention_site_eval.count" :key="countIndex">
                            <div class="custom-control custom-radio">
                                <input type="radio" :id="'customRadio_'+countIndex+item.id" :name="'customRadio'+item.id" v-model="radio_rate[item.id]" class="custom-control-input" :value="countIndex">
                                <label class="custom-control-label" :for="'customRadio_'+countIndex+item.id"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>

        
        <div class="row">
            <table class="table table-light table-responsive table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="text-">II.  DAY 1</th>
                        <th>POOR</th>
                        <th>FAIR</th>
                        <th>GOOD</th>
                        <th>VERY GOOD</th>
                        <th>EXCELLENT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in $store.getters.day_1_eval.items" :key="index">
                        <td>{{item.description}}</td>
                        <td v-for="countIndex in $store.getters.day_1_eval.count" :key="countIndex">
                            <div class="custom-control custom-radio">
                                <input type="radio" :id="'customRadio_'+countIndex+item.id" :name="'customRadio'+item.id" v-model="radio_rate[item.id]" class="custom-control-input" :value="countIndex">
                                <label class="custom-control-label" :for="'customRadio_'+countIndex+item.id"></label>
                            </div>
                        </td>
                    </tr>                
                                 
                </tbody>
                
            </table>
        </div>

        <p><strong>Rate the following items from 1 to 5 
            (1-Poor, 2-Fair, 3-Good, 4-Very Good, 5-Excellent
        </strong></p>

        <div class="row">
            <table class="table table-light table-responsive table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="text-">III. LECTURE </th>
                        <th>CONTENT & RELEVANCE OF LECTURE</th>
                        <th>ADHERENCE TO TIME SCHEDULE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  >
                        <td colspan="3"><strong>DAY 2 24 April 2021</strong></td>
                    </tr>
                    <tr v-for="(item, index) in day_2" :key="item.id">
                        <td>{{item.description}}</td>
                        <td>
                            <input class="form-control" type="number" v-model="content[item.id]" name="" max="5" min="1">
                        </td>
                        <td>
                            <input class="form-control" type="number" v-model="adherence[item.id]" name="" max="5" min="1">
                        </td>
                                                
                    </tr>
                    <tr>
                        <td colspan="3">DAY 3</td>
                                                
                    </tr>      
                    <tr v-for="(item, index) in day_3" :key="item.id">
                        <td>{{item.description}}</td>
                        <td>
                            <input class="form-control" type="number" v-model="content[item.id]" name="" max="5" min="1">
                        </td>
                        <td>
                            <input class="form-control" type="number" v-model="adherence[item.id]" name="" max="5" min="1">
                        </td>
                                                
                    </tr>                    
                    
                    <tr>
                        <td colspan="3">Day 4</td>
                                                
                    </tr>                                             
                    <tr v-for="(item, index) in day_4" :key="item.id">
                        <td>{{item.description}}</td>
                        <td>
                            <input class="form-control" type="number" v-model="content[item.id]" name="" max="5" min="1">
                        </td>
                        <td>
                            <input class="form-control" type="number" v-model="adherence[item.id]" name="" max="5" min="1">
                        </td>
                                                
                    </tr>                                                                                                                                            
                </tbody>
                
            </table>
        </div>

        
        <div class="row">
           <div class="form-group">
               <label for="my-textarea"><strong>COMMENTS AND SUGGESTIONS:</strong></label>
               <textarea id="my-textarea" class="form-control" name="" rows="5" v-model="textarea_comment"></textarea>
           </div>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary" type="button" @click="handleSubmit" :disabled="btnDisabled">Submit</button>
        </div>            
    </div>
</template>
<script>
export default {
    mounted(){
        this.getEvaluationItems();
        
    },
    data(){
        return{
            isSuccess: false,
            radio_rate: {},
            day_2: null,
            day_3: null,
            day_4: null,
            content: {},
            adherence: {},
            hasRate: false,
            btnDisabled: false,
            textarea_comment: '',
            hasContentError: false,
            hasAdherenceError: false,
        }
    },
    methods:{
        async handleSubmit(){
            this.btnDisabled = true
            this.hasContentError = false
            this.hasAdherenceError = false
            for(let i in this.content){
                if(this.content[i] > 5 || this.adherence[i] < 1){
                    this.hasContentError = true
                    this.btnDisabled = false
                    // alert('Rate must be from 1 to 5 only');
                }
            }
            
            for(let i in this.adherence){
                if(this.adherence[i] > 5 || this.adherence[i] < 1){
                    this.hasAdherenceError = true
                    this.btnDisabled = false
                    // alert('Rate must be from 1 to 5 only');
                }
            }
            console.log('hasContentError', this.hasContentError)
            console.log('hasAdherenceError', this.hasAdherenceError)
            let fd = new FormData()

            fd.append('radio_rate', JSON.stringify(this.radio_rate));
            fd.append('content', JSON.stringify(this.content));
            fd.append('adherence', JSON.stringify(this.adherence));
            fd.append('comment', this.textarea_comment);

            if(!this.hasContentError && !this.hasAdherenceError){

                try{
                    let {data} = await axios.post('/api/evaluation/save?api_token='+localStorage.getItem('access_token'), fd);
                    alert('Thank you very much for your cooperation.')
                    setTimeout(()=>{
                        this.$router.push('/membership/dashboard');
                    },1000)
                }catch({response}){
                    alert(response.statusText)
                    this.btnDisabled = false

                }         
            }
            // this.isSuccess = true
            // alert('Thank you very much for your cooperation.')
            // this.$store.commit('updateEvaluate', true)
            // setTimeout(()=>{
            //     this.$router.push('/membership/dashboard')
            // },3000)
            // for(let  i in this.adherence){
            //     if(this.adherence[i] > 5 || this.adherence[i] < 1){
            //         alert('Input failed. Must be maximum of 5 or minimum of 1')
            //     }else{
            //         // alert('success')

            //     }
            // }

            // for(let  i in this.content){
            //     if(this.content[i] > 5 || this.content[i] < 1){
            //         alert('Input failed. Must be maximum of 5 or minimum of 1')
            //     }else{
            //         // alert('success')

            //     }
            // }            

        },
        async getEvaluationItems(){
            let {data} = await axios.get('/api/evaluations?api_token='+localStorage.getItem('access_token'));
            if(data.rates){
                this.$store.commit('updateEvaluate', true)
            }
            this.$store.commit('updateEvaluationItems', data.eval_items)
            this.day_2 = _.filter(this.$store.getters.lecture_eval.items, ['day' , '2'])
            this.day_3 = _.filter(this.$store.getters.lecture_eval.items, ['day' , '3'])
            this.day_4 = _.filter(this.$store.getters.lecture_eval.items, ['day' , '4'])
        }
    },
    watch:{
        content(e){
            // console.log('content',e)
        },
        adherence(e){
            // console.log('adherence',e)

        }
    }
}
</script>
<style lang="">
    
</style>