<template lang="">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">My Application</h5>
            <button class="btn btn-primary btn-sm" type="button">View PDS</button>
            <b-button v-b-modal.modal-1>Upload Payment Receipt</b-button>

            <b-modal id="modal-1" title="Upload receipt" hide-footer>
                <!-- Styled -->
                <b-form-file
                    @change="handleFileUpload"
                    :state="Boolean(receipt)"
                    placeholder="Choose a file or drop it here..."
                    drop-placeholder="Drop file here..."
                ></b-form-file>
                <button class="btn btn-primary" type="button" @click="handleSubmitPayment">Upload</button>
            </b-modal>
            <hr>
            <div class="row">
                <div class="col-md col-sm-12" v-if="page == 'pds'">
                    <pds></pds>
                </div>
                <div class="col-md col-sm-12" v-else>
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td>Status:</td>
                                <td>test</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import pds from './PDS'
export default {
    mounted() {
        this.initialize()
    },
    data() {
        return {
            receipt: null,
            file: null,
            application_details: [],
            page:'pds'
        }
    },
    methods:{
        async initialize(){
            try{
                let {data} = await axios.get('/api/application/good-standing?api_token='+localStorage.getItem('access_token'));
                this.application_details = data
            }catch({response}){
                alert(response.statusText)
            }
        },
        async handleSubmitPayment(){
            let fd = new FormData
            fd.append('file', this.file)
            try{
                let {data} = await axios.post('/api/application/good-standing/payment?api_token='+localStorage.getItem('access_token'), fd);
                console.log(data)
            }catch({response}){
                alert(response.statusText)
            }
        },
        handleFileUpload(e){
            this.file = e.target.files[0]
            // this.file = this.$refs.file.files[0];
        }
    },
    components:{
        pds
    }
}
</script>
<style lang="">
    
</style>