<template>
  <div>
  <modal 
    @handleSubmitNewAffilation="handleSubmitNewAffilation()"
    @closeModal="closeModal()">
  </modal>
    <!-- affiliation -->
    <h5 class="text-uppercase text-success bg-sec p-2 mb-3"> <i class="far fa-handshake fa-lg"></i> Hospital/Institutional Affiliation/s:</h5>
    <button class="btn btn-success mb-3" @click="showModal = true"><i class="fa fa-plus"> <span> Add new affiliation</span></i></button>
    <!-- affiliation row -->
    <div class="align-items-center ">
      <div class="row justify-content-center ">
        <div class="col-6 mb-3" v-for="affiliation in affiliations">
          <div class="card border-success rounded-0">
            <div v-if='editMode == affiliation.id'>
              <form @submit.prevent="handleUpdateAffiliation(affiliation)">
                <div class="card-body">
                  <h5 class="text-success">Edit {{affiliation.hospital_name}} affiliation details</h5>
                  <hr>
                  <div class="form-group">
                    <label for="hospital name"><i class="fas fa-monument fa-lg"></i> Hospital Name:</label>
                    <input type="text" class="form-control form-control-lg" v-model="affiliation.hospital_name">
                  </div>                     
                  <div class="form-group">
                    <label for="hospital name"><i class="fas fa-briefcase fa-lg"></i> Designation:</label>
                    <input type="text" class="form-control form-control-lg" v-model="affiliation.position">
                  </div>        
                  <div class="form-group">
                    <label for="hospital name"><i class="fas fa-map-marker-alt fa-lg"></i> Hospital Address:</label>
                    <textarea class="form-control form-control-lg"  v-model="affiliation.hospital_address" rows="3"></textarea>                    
                  </div>                            
                  <hr>
                  <button 
                    class="btn btn-outline-success btn-sm">
                    <i class="fa fa-check fa-sm"></i> Update
                  </button>              
                  <button 
                    type="button" 
                    class="btn btn-outline-warning btn-sm"
                    @click="editMode = ''">
                    <i class="fa fa-times fa-sm"></i> Cancel update
                  </button>
                </div>              
              </form>
            </div>
            <div v-else>
              <h5 class="card-header text-success">{{affiliation.hospital_name}} </h5>
              <div class="card-body">
                <p><i class="fas fa-briefcase fa-lg"></i><span class="ml-3">{{affiliation.position}}</span></p>
                <p><i class="fas fa-map-marker-alt fa-lg"></i> <span class="ml-3">{{affiliation.hospital_address}}</span></p>
                <hr>
                <button 
                  type="button" 
                  class="btn btn-outline-primary btn-sm"
                  @click="handleEditAffiliation(affiliation)">
                  <i class="fa fa-edit fa-sm"></i> Edit
                </button>              
                <button 
                  type="button" 
                  class="btn btn-outline-danger btn-sm"
                  @click="handleDeleteAffiliation(affiliation)">
                  <i class="fa fa-times fa-sm"></i> Delete
                </button>
              </div>
              
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</template>

<script>
  import modal from './Modal'
  export default{
    mounted(){
      this.affiliations = this.$store.getters.user.affiliations
    },
    data(){
      return{
        showModal: false,
        hospital_name: '',
        designation: '',
        hospital_address: '',
        affiliations: '',
        editMode:'',
      }
    },
    methods:{
      handleDeleteAffiliation(affiliation){
        axios
          .delete('/api/affiliation/'+affiliation.id+'/delete?api_token='+localStorage.getItem('access_token'))
          .then(({data})=>{
            this.affiliations.splice(this.affiliations.indexOf(affiliation), 1)
          });
      },
      handleSubmitNewAffilation(){
        let formData = {
          hospital_name: this.hospital_name,
          position: this.designation,
          hospital_address: this.hospital_address,
        }
        axios
          .post('/api/affiliation/save?api_token='+localStorage.getItem('access_token'), formData)
          .then(({data})=>{
            this.affiliations.push(data.affiliation)
            this.closeModal();
          });
      },

      handleEditAffiliation(affiliation){
        // console.log(affiliation)
        this.editMode = affiliation.id
      },

      closeModal(){
        this.showModal = false;
        this.clearInputs();
      },
      clearInputs(){
        this.hospital_name= '';
        this.designation= '';
        this.hospital_address= '';
      },

      handleUpdateAffiliation(affiliation){
        let formData = {
          hospital_name: affiliation.hospital_name,
          hospital_address: affiliation.hospital_address,
          position: affiliation.position,
          affiliation_id: affiliation.id,
        }
        axios
          .post('/api/affiliation/update?api_token='+localStorage.getItem('access_token') , formData)
          .then(({data})=>{
            affiliation.hospital_name = data.affiliation.hospital_name
            affiliation.position = data.affiliation.position
            affiliation.hospital_address = data.affiliation.hospital_address
            this.editMode = ''
          })
      }
    },
    components: {
      modal,
    }
  }
</script>
