<template>
<div class="">
  <h1>{{purchasedLecture.details}} Examinations</h1>
  <hr>
  <div v-if="isLoading" class="text-center"> <i class="fa fa-spinner fa spin fa-5x "></i></div>
  <div v-else>
    <div class="container" v-if="purchasedLecture.exam_taken <= 2">
      <div v-if="page == 1">
        <form @submit.prevent="handleSubmitAnswer">
          <ol>
            <li class="lead" v-for="(question, index) in questions">{{question.question}}
              <ol>
                <div class="custom-control custom-radio" v-for="choice in question.choices">
                  <input type="radio" :id="choice.id" class="custom-control-input" :value="choice.id" v-model="checked[question.id]">
                  <label class="custom-control-label" :for="choice.id">{{choice.choice_value}}</label>
                </div>                  
              </ol>
            </li>
          </ol>
          <button><i class="fa fa-paper-plane"></i></button>
        </form>
      </div>
      <div v-if="page == 2">
        <div class="row">
          <div class="col">
            <ol>
              <li class="lead" v-for="question in questions">{{question.question}}
                <div v-for="choice in question.choices">
                  <p v-if="choice.id == checked[question.id]">
                    <span class="lead"><u>Your answer: </u></span>
                    <span v-if="choice.id == checked[question.id]" class="lead" :class="question.answer == 1 ? 'text-success' : 'text-danger' ">{{choice.choice_value}}</span>
                    <i class="fa" :class="question.answer == 1 ? 'fa-check text-success' : 'fa-times text-danger' "></i>                
                  </p>
                </div>
              </li>
            </ol>      
          </div>
          <div class="col">
           <h1 class="text-success">Your total score: {{totalScore}}</h1> 
           <hr>
           <button class="btn btn-outline-primary float-right" @click="handleRetake"><i class="fas fa-sync"></i> Retake exam</button>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="text-center">
      <p class="lead">You answered this three (3) times. Click the button to View your answers.</p>
      <router-link :to="{name: 'lectureView', params: {id:this.purchasedLecture.lecture_id}}" class="btn btn-outline-primary"><i class="fa fa-location-arrow"></i> My exam result </router-link>
    </div>  
  </div>
</div>

</template>
<script>
  export default {
    data() {
      return {
        purchasedLecture: [],
        questions: [],
        checked: {},
        page: 1,
        isLoading: true,
        correctAnswer:{},
        totalScore: 0
      }
    },
    mounted(){
      this.lectureDetails();
      this.fetchQuestions();
    },
    watch:{
      checked(e){
        console.log(e)
      }
    },
    methods:{
      lectureDetails(){
        axios
          .get('/purchasedLecture/'+this.$route.params.id)
          .then(({data})=>{
            this.purchasedLecture = data.purchased
            if(this.purchasedLecture === null){
              this.$router.push({name:'lectures'})
            }
            if(this.purchasedLecture.payment_status != 'paid'){
              this.$router.push({name:'lectures'})
            }

            this.isLoading = false
          })
      },  
      fetchQuestions(){
        axios
          .get('lectures/'+this.$route.params.id+'/questions')
          .then(({data})=>{
            this.questions = data.lecture.questions
          })
      } ,
      handleSelectedAnswer(e){
        let name = e.target.name
        let value = e.target.value
        this.checked.push({name: value})
      },
      handleSubmitAnswer(){
        let fd = new FormData();
        fd.append('answers', JSON.stringify(this.checked));
        fd.append('exam_taken', this.purchasedLecture.exam_taken);
        fd.append('lecture_id', this.purchasedLecture.lecture_id);
        fd.append('plecture_id', this.purchasedLecture.id);
        axios
          .post('lectures/exam/submitAnswers', fd)
          .then(({data})=>{
            let isCorrect =  data.isCorrect
            let objResponse = JSON.parse(isCorrect);
            this.correctAnswer = objResponse;
            let stateObj = this.questions
            let myArr = []
            let myArr1 = []
            for(let i in objResponse){
              this.totalScore += parseFloat(objResponse[i].correct_answer)
              for(let index in stateObj){
                if(stateObj[index].id == objResponse[i].l_question_id){
                  stateObj[index].answer = objResponse[i].correct_answer
                }
              }
            }
            this.page = 2
          })
      },
      handleRetake(){
        this.purchasedLecture.exam_taken++;
        this.questions = []
        this.checked = {}
        this.fetchQuestions()
        this.page = 1;
        this.totalScore = 0
      }
    },
    components: {
    }
  }
</script>

