<template>
<div>
  <div class="row justify-content-center" v-show="page == 3">
    <div class="align-items-center text-center text-success"><i class="fas fa-circle-notch fa-3x fa-spin"></i> <p>Redirecting to Unionbank payment page. Please wait..</p></div>
  </div>  
  <!-- {{this.$route.params.lecture}} -->
  <router-link :to="{name: 'lectures'}"class="btn btn-outline-danger"><i class="fas fa-arrow-left"></i> Go back</router-link>
  <h1>{{lecture.title}}</h1>  
  <p class="lead">Please select payment method</p>
  <hr>
  <div v-show="page==1">
    <div class="row justify-content-center">
      <div class="col-9">
        <div class="paymentCont">
          <div class="headingWrap">
              <h3 class="headingTop text-center">Payment Method</h3>  
              <p class="text-center mb-0">Please select BPI Over-the-counter or Unionbank online transaction. </p>
              <p class="text-danger text-center">Note: Unionbank Credit card payment will include 10% bank charge.</p>
          </div>
          <div class="paymentWrap">
            <center>
            <div class="btn-group paymentBtnGroup btn-group-justified justify-content-center">
              <label class="btn paymentMethod" :class="payment_method_selected == 'bpi' ? 'active' : '' " checked>
                <div class="method bpi"></div>
                  <input type="radio"  value="bpi" name="test" v-model="payment_method_selected"> 
              </label>
              <label class="btn paymentMethod" :class="payment_method_selected == 'ushare' ? 'active' : '' ">
                <div class="method ushare"></div>
                  <input type="radio"  value="ushare" name="test" v-model="payment_method_selected"> 
              </label>
            </div>        
            </center>
          </div>
        </div>
      </div>
    </div>
    <div class="p-0 m-0">
      <button type="button" class="btn btn-primary float-right btn-sm" @click="page=2" v-show="payment_method_selected != null">Checkout <i class="fas fa-chevron-circle-right"></i></button>
    </div>
  </div> 

  <div v-show="page==2">
    <div class="row justify-content-center">
      <div class="col-9">
        <table class="table table-inverse table-hover">
          <thead>
            <tr>
              <th>Category</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <p class="lead">{{lecture.title}}</p></td>
              <td>{{ parseFloat(lecture.price).toFixed(2)}}</td>
            </tr>
            <tr v-show="payment_method_selected == 'ushare'">
              <td>10% bank charge</td>
              <td>{{ parseFloat(tax).toFixed(2)}}</td>
            </tr>               
            <tr class="table-success">
              <td ><h4>Total</h4></td>
              <td><h4>P{{parseFloat(total).toFixed(2)}}</h4></td>
            </tr>                                                     
          </tbody>
        </table>
      </div>
    </div>

    <hr>
    <div class="p-0 m-0 ">
      <button type="button" class="btn btn-primary float-left btn-sm" @click="page=1"><i class="fas fa-chevron-circle-left"></i> Payment Method </button>
      <button type="button" class="btn btn-success float-right btn-lg" @click="handleCheckoutLecture"><i class="fas fa-credit-card"></i> Proceed </button>
    </div>
  </div>      
</div>

</template>
<script>
  export default {
   
    data() {
      return {
        lecture: [],
        page: 1,
        payment_method_selected: null,
        tax: '',
        total: null,
        flashData: false,
        purchasedLecture: [],
        lecture_count: 0

      }
    },
    watch:{
      payment_method_selected(){
        this.total = this.lecture.price
        let calcTax = Number(this.lecture.price) * 0.1;
        this.tax = parseFloat(calcTax).toFixed(2)
        if(this.payment_method_selected == 'ushare'){
          this.total = Number(this.tax) + Number(this.lecture.price)
        }
      }
    },
    mounted(){
      this.lectureDetails()
    },
    methods:{
      calculateTax(){
        this.tax = this.lecture.price * .1;
      },
      lectureDetails(){
        axios
          .get('/api/lectures/'+this.$route.params.id+'?api_token='+localStorage.getItem('access_token'))
          .then(({data})=>{
            this.lecture = data.lecture
          })
      },
      handleCheckoutLecture(){
        const fd = new FormData();
        fd.append('amount', parseFloat(this.total).toFixed(2));
        fd.append('id', this.lecture.id);
        fd.append('details', this.lecture.title);
        fd.append('payment_method_selected', this.payment_method_selected);

        axios
          .post('/lectures/pay', fd)
          .then(({data})=>{
            if(data.payment_method_selected == 'ushare'){
              this.page = 3
              window.location.href = data.checkout_url;
            }else{
              this.page = 1;
              this.$router.push({name: 'lectures'})
            }
          })
      },

      validationView(){
        if(this.lecture.payment_status != 'pending'){
          this.$router.push({name:'lectures'})
        }
        if(this.lecture.payment_method != 'bpi'){
          this.$router.push({name:'lectures'})
        }
        if(this.lecture.bpifilepath != null){
          this.$router.push({name:'lectures'})
        }
      },
      setLectureViewersCount(count) {
        alert('test')
        console.log(count)
        this.lecture_count = count
        // this.loading = true;
        // this.user = user;
        // this.loading = false;
      }      
    },
    components: {
    },
    // async beforeRouteEnter(to, from, next) {
    //   alert(to)
    //   try{
    //     let fd = new FormData()
    //     fd.append('id', to.params.id);
    //     const count = await axios.post('/api/lectures/'+to.params.id+'/viewer-count?api_token='+localStorage.getItem('access_token'))
    //     next(vm => vm.setLectureViewersCount(count));
        
    //   }catch({response}){
    //     alert(response.statusText)
    //   }
    // },
    // async beforeRouteUpdate(to, from, next) {
    //   let fd = new FormData()
    //   fd.append('id', to.params.id);
    //   const count = await axios.post('/api/lectures/'+to.params.id+'/viewer-count?api_token='+localStorage.getItem('access_token'))
    //   this.setLectureViewersCount(count);
    //   next();
    // },      
  }
</script>



<style scoped="">
  .paymentWrap {
    padding: 50px;
  }

  .paymentWrap .paymentBtnGroup {
    max-width: 800px;
    margin: auto;
  }

  .paymentWrap .paymentBtnGroup .paymentMethod {
    padding: 60px;
    box-shadow: none;
    position: relative;
  }

  .paymentWrap .paymentBtnGroup .paymentMethod.active {
    outline: none !important;
  }

  .paymentWrap .paymentBtnGroup .paymentMethod.active .method {
    border-color: #4cd264;
    outline: none !important;
    box-shadow: 0px 3px 22px 0px #7b7b7b;
  }

  .paymentWrap .paymentBtnGroup .paymentMethod .method {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    left: 3px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    transition: all 0.5s;
  }

  .paymentWrap .paymentBtnGroup .paymentMethod .method.bpi {
    background-image: url("/images/bpi.jpg");
  }

  .paymentWrap .paymentBtnGroup .paymentMethod .method.ushare {
    background-image: url("/images/ushare.jpg");
  }

  .paymentWrap .paymentBtnGroup .paymentMethod .method:hover {
    border-color: #4cd264;
    outline: none !important;
  }
</style>