<template>
<div>
  <h1>Lectures</h1>  
  <p>Lists of lectures</p>
  <table class="table table-hover">
    <thead>
      <tr class="table-success">
        <th scope="col">Title</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="lecture in lectures">
        <th scope="row"><p class="lead">{{lecture.title}}</p></th>
        <td>
          <div>
            <router-link :to="{name:'lectureView', params: {id: lecture.id}}" class="btn btn-outline-success btn-lg"><i class="fa fa-search "></i>View</router-link>
            
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</template>
<script>
  export default {
    data() {
      return {
        lectures: [],
        lecture_count: 0
      }
    },
    mounted(){
      this.fetchLectures();
    },

    methods:{
      fetchLectures(){
        axios
          .get('/api/lectures?api_token='+localStorage.getItem('access_token'))
          .then(({data})=>{
            this.lectures = data.lectures
          })
      },
      handleBuyLecture(lecture){

      },
      setLectureViewersCount(count) {
        this.lecture_count = count
        // this.loading = true;
        // this.user = user;
        // this.loading = false;
      }

    },
    components: {
    },
    // async beforeRouteEnter(to, from, next) {
    //   try{
    //     let fd = new FormData()
    //     fd.append('id', to.params.id);
    //     const count = await axios.post('/api/lectures/'+to.params.id+'/viewer-count?api_token='+localStorage.getItem('access_token'))
    //     next(vm => vm.setLectureViewersCount(count));
        
    //   }catch({response}){
    //     alert(response.statusText)
    //   }
    // },
    // async beforeRouteUpdate(to, from, next) {
    //   let fd = new FormData()
    //   fd.append('id', to.params.id);
    //   const count = await axios.post('/api/lectures/'+to.params.id+'/viewer-count?api_token='+localStorage.getItem('access_token'))
    //   this.setLectureViewersCount(count);
    //   next();
    // },    
  }
</script>
