<template>
<div v-if="viewer">
  <div v-if="lecture_count >= 5 && viewer.is_watching == 0">
    <div class="alert alert-info" role="alert">
      <p class="lead">To ensure stable communication, the allowed lecture viewers is 5 persons only. </p>
      <p class="muted">Current lecture viewers: {{lecture_count}}</p>
    </div>
  </div>
  <div v-else>
    <button class="btn btn-primary btn-sm" type="button" @click="()=>{$router.push('/membership/lectures')}">Back</button>
    <h1>{{purchasedLecture.title}}</h1>
    <hr>
    <div>
      
      <video width="400" controls class="w-100 "  controlsList="nodownload"  :src="purchasedLecture.file_path"  oncontextmenu="return false;">
        <source :src="purchasedLecture.file_path" type="video/mp4">
      </video>
    </div>
  </div>

</div>

</template>
<script>
  export default {
    data() {
      return {
        purchasedLecture: [],
        examTrial: null,
        totalScore: null,
        lecture_count: 0,
        viewer: null
      }
    },
    mounted(){
      this.lectureDetails()
      
          
      
      
    },
    watch:{
    },

    computed:{

    },
    methods:{
      lectureDetails(){
        axios
          .get('/api/lectures/'+this.$route.params.id+'?api_token='+localStorage.getItem('access_token'))
          .then(({data})=>{
            this.purchasedLecture = data.lecture
            this.viewer = data.viewer
            
            // this.fetchExamTrials()
          })
      },      
      onEnd(){
        let fd = new FormData();
        fd.append('id', this.purchasedLecture.id);
        axios
          .post('/purchasedLecture/addView', fd)
          .then(({data})=>{
            if(data.status == 'success'){
              this.purchasedLecture.views ++;
            }
          })

      },
      fetchExamTrials(){
        axios
          .get('lectures/'+this.purchasedLecture.lecture_id+'/fetchExamTrials')
          .then(({data})=>{
            this.examTrial = data.user_answers
          })
      },
      setLectureViewersCount(count) {
        this.lecture_count = count
        if(count < 5){
          this.$store.dispatch("addLectureViewer", this.$route.params.id);
          
        }
        // this.loading = true;
        // this.user = user;
        // this.loading = false;
      }       
    },
    components: {
    },
    beforeDestroy(){
      console.log('beforeDestroy')
      this.$store.dispatch("removeLectureViewer", this.purchasedLecture.id);
    },
    async beforeRouteEnter(to, from, next) {
      try{
        let fd = new FormData()
        fd.append('id', to.params.id);
        const {data} = await axios.post('/api/lectures/'+to.params.id+'/viewer-count?api_token='+localStorage.getItem('access_token'))
        next(vm => vm.setLectureViewersCount(data));
        
      }catch({response}){
        alert(response.statusText)
      }
    },
    async beforeRouteUpdate(to, from, next) {
      let fd = new FormData()
      fd.append('id', to.params.id);
      const {data} = await axios.post('/api/lectures/'+to.params.id+'/viewer-count?api_token='+localStorage.getItem('access_token'))
      this.setLectureViewersCount(data);
      next();
    },      
  }
</script>

