<template>
	<div class="bg-light p-5">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-lg-12 col-sm-12 pb-3">
					<h1 class="card-title text-center text-success">Membership Portal</h1>
				</div>
				<div class="col-lg-4 col-sm-12" >
					<div class="card border-secondary p-3" style="border-radius: 1em;">
					  <div class="card-body">
					    <div class="row justify-content-center">
					    	<div class="col">
					    		
							    <form @submit.prevent='login' method="post" >
							    	<div class="alert alert-danger" role="alert" v-if="has_error">
							    	  Username/Password not found.
							    	</div>
							    	<div class="text-center">
								    	<h3>Sign in</h3>
								    	<p>and view your profile.</p>
								    	<hr>
							    	</div>
							    	<div class="form-group">
									  <input 
									  	type="text" 
									  	v-model='email' 
									  	class="form-control form-control-lg" 
									  	placeholder="Username" 
									  	aria-label="username" 
									  	style="border-radius: 1em;"
									  	required>
							    	</div>
							    	<div class="form-group">
									  <input 
									  type="password" 
									  v-model='password'
									  class="form-control form-control-lg" 
									  placeholder="Password" 
									  aria-label="Password"
									  style="border-radius: 1em;"
									  required>									  
							    	</div>
							    	<div>
							    		
								    	<div class="form-group mb-0">
										  <router-link :to="{name:'passwordRemind'}"><small>Forgot your password?</small></router-link>				  
								    	</div>		
								    	<hr>							    			
							    	</div>
							    	<div class="form-group">
										<button 
											type="submit" 
											class="btn btn-primary btn-lg form-control form-control-lg " 
											style="border-radius: 1em;">
												<i class="fa fa-sign-in-alt"></i> Sign in
										</button>							    		
							    	</div>			    	
							    </form>
					    	</div>
					    </div>
					  </div>
					</div>			
				</div>
			</div>
		</div>
		
		
	</div>
</template>

<script>
    export default {
    	data(){
    		return {
    			email: '',
    			password: '',
    			has_error: false
    		}
    	},
    	mounted(){
			// this.$store.dispatch("getUser");
			localStorage.clear()
    	},
	    methods: {
	      async login() {
			  let fd = new FormData()
			  fd.append('email', this.email);
			  fd.append('password', this.password);
			  try{
				  let {data} = await axios.post('/login', fd);
				  localStorage.setItem('access_token', data.access_token)
				  if(data.status == 'ok'){
					  this.$store.commit('updateUser', data.user)
					  if(data.evaluations != ''){
					  	this.$store.commit('updateEvaluate', true)
					  }
					  this.$router.push('dashboard')
				  }else{
					  this.has_error = true

				  }
			  }catch({response}){
				  alert(response.statusText)
			  }
	        // get the redirect object
	        // var redirect = this.$auth.redirect()
	        // var app = this
	        // this.$auth.login({
	        //   params: {
	        //     email: app.email,
	        //     password: app.password
	        //   },
	        //   success: function() {
	        //     // handle redirection
	        //     const redirectTo = redirect ? redirect.from.name : this.$auth.user().role === 2 ? 'membership/dashboard' : 'membership/dashboard'
	        //     this.$router.push({name: redirectTo})
	        //   },
	        //   error: function() {
	        //     app.has_error = true
	        //   },
	        //   rememberMe: true,
	        //   fetchUser: true
	        // })
	      }
	    },
	    watch:{
	    	email(e){
	    		this.has_error = false
	    	}
	    },
		computed: {
		// gettersusers() {
		//   return this.$store.getters.allUsers
		// },
			user() {
				return this.$store.state.user
			}
		}, 		
	}
</script>

<style scoped>
	/* Coded with love by Mutiullah Samim */
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #60a3bc !important;
		}
		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #3CB521;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #3CB521;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #ffe488 !important;
			color: #3CB521 !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #ffe488 !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}	
</style>