<template>

  <transition name="modal" v-if="$parent.showModal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-body">
              <h3 class="text-success">New affiliation</h3>
              <hr>
              <form @submit.prevent="$emit('handleSubmitNewAffilation')">
                <div class="form-group">
                  <label class="col-form-label " for="inputLarge">Hospital Name:</label>
                  <input class="form-control form-control-lg" type="text" placeholder="Vue Medical Center" v-model="$parent.hospital_name" required="">
                </div>
                <div class="form-group">
                  <label class="col-form-label " for="inputLarge">Designation:</label>
                  <input class="form-control form-control-lg" type="text" placeholder="Consultant Director" v-model="$parent.designation" required="">
                </div>                   
                <div class="form-group">
                  <label for="exampleTextarea">Hospital Address:</label>
                  <textarea class="form-control form-control-lg" placeholder="#114 Malakas Street, Diliman, Quezon City Philippines" v-model="$parent.hospital_address" rows="3" required=""></textarea>
                </div>    
                <hr>                           
                <button class=" btn btn-success btn-sm"><i class="fa fa-paper-plane"></i> Submit</button>
                <a class=" btn btn-danger btn-sm text-light" @click="$emit('closeModal')" ><i class="fa fa-times"></i> Cancel</a>
              </form>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default{
    data(){
      return{
      }
    }
  }
</script>

<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}  
</style>