<template>

  <transition name="modal" v-if="$parent.showModal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-body">
            <h3 class="text-success">Upload  {{ $parent.dataVal != null ? $parent.dataVal : 'Credentials' }}</h3>
            <p v-show="$parent.credType == '' ">Please select a credential type.</p>

            <hr>
            <div class="row">
               <div class="col">
                  <form @submit.prevent="$emit('handleUploadCredentials')" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="">Credential type</label>
                      <select class="custom-select" v-model="$parent.credType" @change="handleChange">
                        <option selected="" value="">--Select credential type--</option>
                        <option v-for="item in $parent.items" :value="item.value" :data-val="item.cardText">{{item.cardText}}</option>
                      </select>
                    </div>                    
                    <div class="form-group files color" v-show="$parent.credType != '' ">
                      <input type="file" class="form-control" @change="onFileSelected" accept="image/x-png,image/gif,image/jpeg" required="">
                    </div>
                    <button class=" btn btn-success btn-sm" v-show="$parent.credType != '' "><i class="fa fa-paper-plane"></i> Submit</button>
                    <a class=" btn btn-danger btn-sm text-light" @click="$emit('closeModal')" ><i class="fa fa-times"></i> Cancel</a>                    
                  </form>
              </div>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default{
    data(){
      return{
      }
    },
    methods:{
      onFileSelected(e){
        // console.log(e.target.files[0])
        this.$emit('onFileSelectedChild', e.target.files[0])
      },
      handleChange(e){
        this.$emit('handleChangeChild', e.target.options[e.target.options.selectedIndex].dataset.val)
      }      
    }
  }
</script>

<style scoped>
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 1px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 700px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}  
</style>