<template>

	<div class=" bg-light p-5">
		<div class="container">

			<div class="row justify-content-center">
				<div class="col-lg-6 col-sm-12">
					<div class="alert alert-success" role="alert" v-if="isSent">
						<p><strong>Well done!</strong> Check your email to reset your password.</p>
					</div>
					<div class="card border-secondary p-3" style="border-radius: 1em;">
					  <div class="card-body">
					    <div class="row justify-content-center">
					    	<div class="col">
					    		
							    <form @submit.prevent='handlePasswordReset'>
							    	<div class="text-center">
								    	<h2 class="text-warning">Forgot Password?</h2>
								    	<p>You can reset your password here.</p>
								    	<hr>
							    	</div>
							    	<div class="form-group">
									  <input 
									  	type="text" 
									  	v-model='email' 
									  	class="form-control form-control-lg" 
									  	placeholder="Email here" 
									  	aria-label="email" 
									  	required="" 
									  	style="border-radius: 1em;">
							    	</div>
							    	<div class="form-group">
							    		<div class="row">
							    			<div class="col">
												<button 
													:disabled="isSending"
													type="submit" 
													class="float-right btn btn-warning btn-lg form-control form-control-lg " 
													style="border-radius: 1em;">
														<i class="fas" :class="isSending ? 'fa-spinner fa-spin' : 'fa-paper-plane'"></i> {{isSending ? 'Sending email' : 'Submit'}}
												</button>		
							    			</div>
							    			<div class="col">
												<router-link :to="{name:'login'}" 
													class="btn btn-danger btn-lg form-control form-control-lg " 
													style="border-radius: 1em;">
														Cancel
												</router-link>																    		
							    				
							    			</div>
							    		</div>
							    	</div>			    	
							    </form>
					    	</div>
					    </div>
					  </div>
					</div>			
				</div>
			</div>
		</div>
		
		
	</div>
</template>

<script>
    export default {
    	data(){
    		return {
    			email: '',
    			isSending: false,
    			isSent:false
    		}
    	},
    	mounted(){

    	},
	    methods: {
	    	
			handlePasswordReset() {
				this.isSending = true
	    		let fd = new FormData();
	    		fd.append('email', this.email);
				axios
					.post('/auth/users/passwordReset', fd)
					.then(({data})=>{
						if(data.status == 'success'){
							this.email = ''
							this.isSending = false
							this.isSent = true
						}else{
							this.email = ''
							this.isSent = true
							this.isSending = false
						}
					})
			}
	    }
	}
</script>

<style scoped>
	/* Coded with love by Mutiullah Samim */
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #60a3bc !important;
		}
		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #3CB521;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #3CB521;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #ffe488 !important;
			color: #3CB521 !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #ffe488 !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}	
</style>