<template>

	<div class=" row bg-light p-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-6" >
					<div class="card border-secondary p-3" style="border-radius: 1em;">
					  <div class="card-body">
					    <div class="row justify-content-center">
					    	<div class="col">
					    		
							    <form @submit.prevent='handlePasswordReset'>
							    	<div class="text-center">
								    	<h2 class="text-success">Reset Password</h2>
								    	<p>You can now reset your password</p>
								    	<hr>
							    	</div>
							    	<div class="form-group">
							    		<label> New password:</label>
									  <input 
									  	type="password" 
									  	v-model='password' 
									  	class="form-control form-control-lg" 
									  	placeholder="New password" 
									  	aria-label="password" 
									  	style="border-radius: 1em;">
							    	</div>
							    	<div class="form-group">
							    		<label> Confirm password:</label>
									  <input 
									  	type="password" 
									  	v-model='cpassword' 
									  	class="form-control form-control-lg" 
									  	placeholder="Confirm new password" 
									  	aria-label="Confirm new password" 
									  	style="border-radius: 1em;">
							    	</div>							    	
							    	<div class="form-group" v-show="confirmed">
										<button 
											type="submit" 
											class="btn btn-success btn-lg form-control form-control-lg " 
											style="border-radius: 1em;">
												<i class="fas fa-paper-plane"></i> Reset my password
										</button>							    		
							    	</div>			    	
							    </form>
					    	</div>
					    </div>
					  </div>
					</div>			
				</div>
			</div>
		</div>
		
		
	</div>
</template>

<script>
    export default {
    	data(){
    		return {
    			password: '',
    			cpassword: '',
    			confirmed: false,
    			valid: false
    		}
    	},
    	mounted(){
    		this.checkIfPasswordResetKeyExist()
    	},

    	watch:{
    		cpassword(e){
    			if(this.password != e){
    				this.confirmed = false
    			}else{
    				this.confirmed = true

    			}
    		},
    		password(e){
    			if(this.cpassword != e){
    				this.confirmed = false
    			}else{
    				this.confirmed = true

    			}
    		}    		
    	},
	    methods: {
	    	
			handlePasswordReset() {
	    		let fd = new FormData();
	    		fd.append('password', this.password);
	    		fd.append('reset_password_key', this.$route.params.prkey);
				axios
					.post('/auth/users/passwordResetSave', fd)
					.then(({data})=>{
						this.$router.push({name:'login'})
					})
			},
			checkIfPasswordResetKeyExist(){
				axios
					.get('/auth/users/checkIfPasswordResetKeyExist/'+this.$route.params.prkey)
					.then(({data})=>{
						if(data.isExists){
							this.valid = true
						}

					})
			}
	    }
	}
</script>

<style scoped>
	/* Coded with love by Mutiullah Samim */
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #60a3bc !important;
		}
		.user_card {
			height: 400px;
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			background: #3CB521;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}
		.brand_logo_container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -75px;
			border-radius: 50%;
			background: #3CB521;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
		}
		.form_container {
			margin-top: 100px;
		}
		.login_btn {
			width: 100%;
			background: #ffe488 !important;
			color: #3CB521 !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #ffe488 !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
			background-color: #c0392b !important;
		}	
</style>