<template>
  <div class="">
    <div class="alert alert-dismissible alert-success" v-show="flashData">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <p><strong>Well done!</strong> You've successfully paid via BPI Over-the counter. You can now upload the transaction receipt to be reviewed by the Administrator. To upload the receipt, select the year you have been paid and click upload.</p>
    </div>    
    <div class="row justify-content-center" v-show="page == 4">
      <div class="align-items-center text-center text-success"><i class="fas fa-circle-notch fa-3x fa-spin"></i> <p>Redirecting to Unionbank payment page. Please wait..</p></div>
    </div>
    <h3 v-if="page != 4">Welcome to Pay Dues</h3>
    <p v-if="page != 3 && page != 4">Please select <strong>{{getInfoText(page)}}</strong>  to proceed.</p>

    <hr v-if="page != 4">
    <div v-show="page==1">
      <div class="row justify-content-center">
        <div class="col">
          <div class="form-group form-control-lg">
            <select class="custom-select" v-model="year_selected">
              <option selected="" value="0">SELECT YEAR</option>
              <option :value="item.year" v-for="item in yearSelectInput">{{item.year}}</option>
            </select>
          </div>  
          <div v-if="year_selected != 0">
            <table class="table table-hover" v-show="isExists == 0" >
              <tr>
                <th scope="row" class="col-form-label">PSP</th>
                <td>
                  <select class="custom-select form-control form-control-lg" v-model="pspSelected">
                    <option :value="item.value" v-for="item in psp">{{item.text}}</option>
                  </select>            
                </td>
              </tr>
              <tr>
                <th scope="row" class="col-form-label">IAP</th>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" :true-value="iap" false-value="0" v-model="iapVal" id="customSwitch1">
                      <label class="custom-control-label" for="customSwitch1">P{{parseFloat(iap).toFixed(2)}}</label>
                    </div>
                  </div>          
                </td>
              </tr>  

              <tr>
                <th scope="row" class="col-form-label">PSP Circle</th>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" :true-value="pspCircle" false-value="0" v-model="pspCircleVal"  id="customSwitch2">
                      <label class="custom-control-label" for="customSwitch2">P{{ parseFloat(pspCircle).toFixed(2)}}</label>
                    </div>
                  </div>          
                </td>
              </tr> 

              <tr>
                <th scope="row" class="col-form-label">Certificate of Good Standing</th>
                <td>
                  <div class="form-group">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" :true-value="cgs" false-value="0" v-model="cgsVal"  id="customSwitch3">
                      <label class="custom-control-label" for="customSwitch3">P{{ parseFloat(cgs).toFixed(2)}}</label>
                    </div>
                  </div>          
                </td>
              </tr>      
            </table> 
            <div class="" v-show="isExists == 1">
              <div class="card rounded-0" :class="paydue.payment_status == 'pending' ? 'border-warning' : 'border-success' ">
                <div class="card-header"><h3 class="text-uppercase">{{paydue.year}} Membership</h3></div>
                <div class="card-body">
                  <div class="row justify-content-center">
                    <div class="col-5 p-5" :class="paydue.payment_status == 'pending' ? 'text-warning' : 'text-success' ">
                      <p class="text-uppercase img-thumbnail text-center">purchased</p>
                    </div>
                    <div class="col-7 align-content-center">
                      <table class="table ">
                        <tbody>
                          <tr>
                            <td><p>Payment Status</p></td>
                            <td><p><strong>{{paydue.payment_status}}</strong></p></td>                          
                          </tr>
                          <tr>
                            <td><p>Payment method</p></td>
                            <td><p><strong>{{paydue.payment_method}}</strong></p></td>
                          </tr>
                          <tr>
                            <td><p>Total Amount</p></td>
                            <td><p><strong>{{paydue.total}}</strong></p></td>
                          </tr>                          
                          <tr v-if="paydue.payment_method == 'bpi' && paydue.bpifilepath == null">
                            <td><p>Upload Receipt</p></td>
                            <td>
                              <form  @submit.prevent="handleUploadReceipt" enctype="multipart/form-data">
                                <div class="form-group">
                                  <div class="input-group mb-3">
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="inputGroupFile02" placeholder="Choose File" @change="handleSelectFile" accept="image/x-png,image/gif,image/jpeg" required="">
                                      <label class="custom-file-label" for="inputGroupFile02">{{uploadReceipt}}</label>
                                    </div>
                                    <div class="input-group-append">
                                      <button class="input-group-text btn" id="" :class="uploadReceipt != null ? 'btn-success' : '' " :disabled="uploadReceipt == null">Upload</button>
                                    </div>
                                  </div>
                                </div>                              
                              </form>
                            </td>                          
                          </tr>    
                          <tr v-if="paydue.bpifilepath != null">
                            
                            <td colspan="2" v-if="paydue.payment_status == 'paid'"><i class="fa fa-check"></i> <span>Admin approval successful.</span></td>
                            <td colspan="2" v-else><i class="fa fa-cog fa-spin"></i> <span>Receipt successfully sent. Please wait for Admin approval</span></td>
                          </tr>                    
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>                    
            </div>
          </div>
        </div>
      </div>


      <div class="p-0 m-0" v-show="total != 0 && year_selected != 0 && isExists == 0">
        <button type="button" class="btn btn-primary float-right btn-sm" @click="page=2">Payment Method <i class="fas fa-chevron-circle-right"></i></button>
      </div>
    </div>

    <div v-show="page==2">
      <div class="row justify-content-center">
        <div class="col-9">
          <div class="paymentCont">
            <div class="headingWrap">
                <h3 class="headingTop text-center">Payment Method</h3>  
            </div>
            <div class="paymentWrap">
              <center>
              <div class="btn-group paymentBtnGroup btn-group-justified justify-content-center">
                <label class="btn paymentMethod active"  checked>
                  <div class="method bpi"></div>
                    <input type="radio"  value="bpi" name="test" v-model="payment_method_selected" checked> 
                </label>
              </div>        
              </center>
            </div>
          </div>
        </div>
      </div>


      <div class="p-0 m-0">
        <button type="button" class="btn btn-primary float-left btn-sm" @click="page=1"><i class="fas fa-chevron-circle-left"></i> Details</i></button>
        <button type="button" class="btn btn-primary float-right btn-sm" @click="page=3" v-show="payment_method_selected != null">Checkout <i class="fas fa-chevron-circle-right"></i></button>
      </div>
    </div> 

    <div v-show="page==3">
      <div class="row justify-content-center">
        <div class="col-9">
          <h3>{{year_selected}} Membership</h3>
          <table class="table table-inverse table-hover">
            <thead>
              <tr>
                <th>Category</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-show="pspSelected == 0">
                <td>Lifetime Fellow</td>
                <td>{{ parseFloat(pspSelected).toFixed(2)}}</td>
              </tr>
             <tr v-show="pspSelected == 1500.00">
                <td>Fellow</td>
                <td>{{parseFloat(pspSelected).toFixed(2)}}</td>
              </tr>   
             <tr v-show="pspSelected == 1200.00">
                <td>Diplomate</td>
                <td>{{parseFloat(pspSelected).toFixed(2)}}</td>
              </tr>                          

              <tr v-if="iapVal != 0">
                <td>IAP</td>
                <td>{{parseFloat(iap).toFixed(2)}}</td>
              </tr>
              <tr v-show="pspCircleVal != 0">
                <td>PSP Circle</td>
                <td>{{ parseFloat(pspCircle).toFixed(2)}}</td>
              </tr>  
              <tr v-show="cgsVal != 0">
                <td>Certificate of Good Standing</td>
                <td>{{ parseFloat(cgs).toFixed(2)}}</td>
              </tr> 
              <tr v-show="payment_method_selected == 'ushare'">
                <td>10% bank charge</td>
                <td>{{ parseFloat(tax).toFixed(2)}}</td>
              </tr>               
              <tr class="table-success">
                <td ><h4>Total</h4></td>
                <td><h4>P{{parseFloat(total).toFixed(2)}}</h4></td>
              </tr>                                                     
            </tbody>
          </table>
        </div>
      </div>

      <hr>
      <div class="p-0 m-0 ">
        <button type="button" class="btn btn-primary float-left btn-sm" @click="page=2"><i class="fas fa-chevron-circle-left"></i> Payment Method </button>
        <button type="button" class="btn btn-success float-right btn-lg" @click="handleSubmitPayment"><i class="fas fa-credit-card"></i> Proceed </button>
      </div>
    </div>       
  </div>
</template>
<script>
  export default {
    data() {
      return {
        yearSelectInput : [
          {'year': 2015},
          {'year': 2016},
          {'year': 2017},
          {'year': 2018},
          {'year': 2019},
          {'year': 2020},
          {'year': 2021},
        ],

        psp: [
          {'text': 'Lifetime Fellow', 'value' : 0},
          {'text': 'Fellow', 'value' : 1500.00},
          {'text': 'Diplomate', 'value' : 1200.00},
        ],

        paydue:[],

        page: 1,
        year_selected: 0,
        iap: 400.00,
        pspCircle: 150.00,
        cgs: 100.00,
        total: 0,
        pspVal:0,
        iapVal: 0,
        pspCircleVal:0,
        cgsVal: 0,
        payment_method_selected: 'bpi',
        pspSelected: 0,
        tax: 0,
        isRedirecting: false,
        flashData: false,
        isExists: null,
        uploadReceipt: null,
        selectedFile:null,
      }
    },

    watch:{
      payment_method_selected(){
        this.handleAddTax();

      },
      iapVal(){
        this.handleAddTax();
      },
      pspCircleVal(){
        this.handleAddTax();
      },
      cgsVal(){
        this.handleAddTax();
      },
      pspSelected(){
        this.handleAddTax();
      },
      year_selected(e){
        this.isExists = null
        axios
          .get('/api/paydues/'+this.year_selected+'?api_token='+localStorage.getItem('access_token'))
          .then(({data})=>{
            if(data.paydue){
              this.isExists = 1
              this.paydue = data.paydue
            }else{
              this.isExists = 0
            }
          })
      }


    },

    methods:{
      handleSubmitPayment(){
        let fd = new FormData();
        fd.append('year', this.year_selected);
        fd.append('psp', this.pspSelected);
        fd.append('iap', this.iapVal);
        fd.append('psp_circle', this.pspCircleVal);
        fd.append('cgs', this.cgsVal);
        fd.append('total', parseFloat(this.total).toFixed(2));
        fd.append('payment_method', this.payment_method_selected);
        axios
          .post('/api/paydues/save?api_token='+localStorage.getItem('access_token'), fd)
          .then(({data})=>{
            if(data.payment_method == 'ushare'){
              this.page = 4
              window.location.href = data.checkout_url;
            }else{
              this.flashData = !this.flashData
              this.page = 1;
              this.clearInputs();
            }
          })
      },
      clearInputs(){
        this.year_selected = 0;
        this.payment_method_selected = 0;
        this.iapVal = 0;
        this.pspCircleVal = 0;
        this.cgsVal = 0;
        this.pspSelected = 0;
      },
      getInfoText(page){
        if(page == 1){
          return 'year'
        }else if(page == 2){
          return 'payment method'
        }else{
          return ''
        }
      },
      handleAddTax(){
        this.computeTotal()
        this.tax = this.total * 0.1;
        if(this.payment_method_selected == 'ushare'){
          this.total = this.total + this.tax
        }else{
          this.computeTotal()
        }
      },
      computeTotal(){
        return this.total = (this.pspSelected != undefined ? Number(this.pspSelected) : 0) + (this.iapVal != undefined ? Number(this.iapVal) : 0)  + (this.pspCircleVal != undefined ? Number(this.pspCircleVal) : 0) + (this.cgsVal != undefined ? Number(this.cgsVal) : 0);

      },
      handleSelectFile(e){
        // console.log('test', e.target.files[0].name)
        this.selectedFile = e.target.files[0];
        this.uploadReceipt = e.target.files[0].name
      },
      handleUploadReceipt(){
        let vm = this;
        const config = {
            headers: { 'content-type': 'multipart/form-data' }
        }        
        let fd = new FormData();
        fd.append('image' , vm.selectedFile);
        fd.append('year' , vm.year_selected);
        axios
            .post('/api/paydues/uploadReceipt?api_token='+localStorage.getItem('access_token'), fd, config)
            .then(({data})=>{
              this.paydue.bpifilepath = data.bpifilepath
            })
      }         
    },
    components: {
    }
  }
</script>


<style scoped="">
  .paymentWrap {
    padding: 50px;
  }

  .paymentWrap .paymentBtnGroup {
    max-width: 800px;
    margin: auto;
  }

  .paymentWrap .paymentBtnGroup .paymentMethod {
    padding: 60px;
    box-shadow: none;
    position: relative;
  }

  .paymentWrap .paymentBtnGroup .paymentMethod.active {
    outline: none !important;
  }

  .paymentWrap .paymentBtnGroup .paymentMethod.active .method {
    border-color: #4cd264;
    outline: none !important;
    box-shadow: 0px 3px 22px 0px #7b7b7b;
  }

  .paymentWrap .paymentBtnGroup .paymentMethod .method {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    left: 3px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    transition: all 0.5s;
  }

  .paymentWrap .paymentBtnGroup .paymentMethod .method.bpi {
    background-image: url("/images/bpi.jpg");
  }

  .paymentWrap .paymentBtnGroup .paymentMethod .method.ushare {
    background-image: url("/images/ushare.jpg");
  }

  .paymentWrap .paymentBtnGroup .paymentMethod .method:hover {
    border-color: #4cd264;
    outline: none !important;
  }
</style>