<template>
<div>
    <form>
        <div class="row">
            <div class="col-md-12">
                <p class="text-uppercase lead">personal data sheet</p>
            </div>
        </div>
        <hr class="p-0">
        <div class="row">
            <div class="col-md-12">
                <p><i>Personal Information</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-sm-12">
                <b-form-input v-model="surname" placeholder="Surname"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-input v-model="firstname" placeholder="First name"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-input v-model="middlename" placeholder="Middle name"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-select v-model="nameExtension" :options="nameExtensionOptions"></b-form-select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md col-sm-12">
                <div class="form-group">
                    <label>Date of birth</label>
                    <b-form-datepicker  v-model="dob"></b-form-datepicker>
                </div>
            </div>
            <div class="col-md col-sm-12">
                <label>Place of birth</label>
                <b-form-textarea
                    id="textarea"
                    v-model="pob"
                    placeholder="Philippines"
                    rows="3"
                    max-rows="6"
                    ></b-form-textarea>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md col-sm-12">
                <label>Sex</label>
                <b-form-group>
                    <b-form-radio-group
                        v-model="sex"
                        :options="sexOptions"
                        name="radio-inline"
                    ></b-form-radio-group>
                </b-form-group>
            </div>
            <div class="col-md col-sm-12">
                <label>Civil Status</label>
                <b-form-group>
                    <b-form-radio-group
                        v-model="civil_status"
                        :options="cStatusOptions"
                        name="radio-inline"
                    ></b-form-radio-group>
                </b-form-group>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md col-sm-12">
                <label>Height (m)</label>
                <b-form-input :type="'number'" v-model="height"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <label>Weight (kg)</label>
                <b-form-input :type="'number'" v-model="weight"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <label>Blood Type</label>
                <div class="row">
                    
                    <div class="col-md col-sm-12">
                        <b-form-select v-model="abo" :options="aboOptions"></b-form-select>
                    </div>
                    <div class="col-md col-sm-12">
                        <b-form-select v-model="rh" :options="rhTypeOptions"></b-form-select>
                    </div>
                </div>
            </div>
        </div>   
        <hr>
        <div class="row">
            <div class="col-md col-sm-12">
                <label>GSIS ID No.</label>
                <b-form-input :type="'number'" v-model="gsis_no"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <label>PAGIBIG ID No.</label>
                <b-form-input :type="'number'" v-model="pagibig_no"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <label>PhilHealth No.</label>
                <b-form-input :type="'number'" v-model="philhealth_no"></b-form-input>
            </div>
        </div>  
        <div class="row">
            <div class="col-md col-sm-12">
                <label>SSS No.</label>
                <b-form-input :type="'number'" v-model="sss_no"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <label>TIN No.</label>
                <b-form-input :type="'number'" v-model="tin_no"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <label>Agency Employee No.</label>
                <b-form-input :type="'number'" v-model="employee_no"></b-form-input>
            </div>
        </div>    
        <hr>
        <div class="row">
            <div class="col-md col-sm-12">
                <label>Citizenship</label>
                <b-form-select v-model="citizenship" :options="citizenshipOptions"></b-form-select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md col-sm-12">
                <label>Address</label>
                <br>
                <label>House/Block/Lot No.</label>
                <b-form-input :type="'text'" v-model="blk_lot"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <label></label>
                <br>
                <label>Street</label>
                <b-form-input :type="'text'" v-model="street"></b-form-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-sm-12">
                <label>Subdivision/Village</label>
                <b-form-input :type="'text'" v-model="subdivision"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <label>Barangay</label>
                <b-form-input :type="'text'" v-model="barangay"></b-form-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-sm-12">
                <label>City/Municipality</label>
                <b-form-input :type="'text'" v-model="city_mun"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <label>Province</label>
                <b-form-input :type="'text'" v-model="province"></b-form-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-sm-12">
                <label>Zipcode</label>
                <b-form-input :type="'text'" v-model="zipcode"></b-form-input>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md col-sm-12">
                <label>Telephone No.</label>
                <b-form-input :type="'text'" v-model="tel_no"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <label>Mobile No.</label>
                <b-form-input :type="'text'" v-model="mobile_no"></b-form-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-sm-12">
                <label>Email Address</label>
                <b-form-input :type="'email'" v-model="email_address"></b-form-input>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-12">
                <p><i>Family Background</i></p>
                <p class="muted"><u>Spouse Details</u></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-sm-12">
                <b-form-input v-model="s_surname" placeholder="Spouse's Surname"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-input v-model="s_firstname" placeholder="First name"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-input v-model="s_middlename" placeholder="Middle name"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-select v-model="s_nameExtension" :options="nameExtensionOptions"></b-form-select>
            </div>
        </div> 
        <br>
        <div class="row">
            <div class="col-md col-sm-12">
                <b-form-input v-model="s_occupation" placeholder="Occupation"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-input v-model="s_employer" placeholder="Employer/Business Name"></b-form-input>
            </div>
        </div>    
        <br>
        <div class="row">
            <div class="col-md col-sm-12">
                <b-form-input v-model="s_employer_address" placeholder="Business Address"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-input v-model="s_employer_tel_no" placeholder="Telephone No."></b-form-input>
            </div>
        </div>    
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p class="muted"><u>Father's Name</u></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-sm-12">
                <b-form-input v-model="f_surname" placeholder="Father's Surname"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-input v-model="f_firstname" placeholder="First name"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-input v-model="f_middlename" placeholder="Middle name"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-select v-model="f_nameExtension" :options="nameExtensionOptions"></b-form-select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p class="muted"><u>Mother's Maiden Name</u></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-sm-12">
                <b-form-input v-model="m_surname" placeholder="Father's Surname"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-input v-model="m_firstname" placeholder="First name"></b-form-input>
            </div>
            <div class="col-md col-sm-12">
                <b-form-input v-model="m_middlename" placeholder="Middle name"></b-form-input>
            </div>
        </div> 
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p class="muted"><u>Children/s</u></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md col-sm-12">
                <form @submit.prevent="handleAddChild">
                    <div class="row">
                        <div class="col-md">
                            <b-form-input v-model="children_input_name" :type="'text'" placeholder="Full Name"></b-form-input>
                        </div>
                        <div class="col-md">
                            <b-form-input v-model="children_input_dob" :type="'date'" placeholder="Date of Birth"></b-form-input>
                        </div>
                        <div class="col-md">
                            <button class="btn btn-danger" type="button">Add</button>
                        </div>
                    </div>
                    
                </form>
                
            </div>
        </div>
       
    </form>
</div>
</template>
<script>
  import InputText from './includes/InputText'
  import Select from './includes/Select'
  export default {
    data() {
      return {
        surname: '',
        firstname: '',
        middlename: '',
        nameExtension: null,
        dob:null,
        pob: null,
        sex: null,
        civil_status: null,
        height: null,
        weight: null,
        abo: null,
        rh: null,
        gsis_no: null,
        pagibig_no: null,
        philhealth_no: null,
        sss_no: null,
        tin_no: null,
        employee_no: null,
        citizenship: null,
        blk_lot: null,
        street: null,
        subdivision: null,
        barangay: null,
        city_mun: null,
        province: null,
        zipcode: null,
        tel_no: null,
        mobile_no: null,
        email_address: null,

        s_surname:null,
        s_firstname:null,
        s_middlename:null,
        s_nameExtension:null,
        s_occupation:null,
        s_employer:null,
        s_employer_address:null,
        s_employer_tel_no:null,

        f_surname: null,
        f_firstname: null,
        f_middlename: null,
        f_nameExtension: null,

        m_surname: null,
        m_firstname: null,
        m_middlename: null,

        childrens: [],
        nameExtensionOptions: [
            {value: null, text: 'Name Extension'},
            {value: 'JR', text: 'JR'},
            {value: 'SR', text: 'SR'},
        ],
        sexOptions:[
            {value: 'Male', text: 'Male'},
            {value: 'Female', text: 'Female'},

        ],
        cStatusOptions:[
            {value: 'Single', text: 'Single'},
            {value: 'Married', text: 'Married'},
            {value: 'Widowed', text: 'Widowed'},
            {value: 'Separated', text: 'Separated'},

        ],
        aboOptions: [
            {value: null, text: 'Select ABO'},
            {value: 'A', text: 'A'},
            {value: 'B', text: 'B'},
            {value: 'AB', text: 'AB'},
            {value: 'O', text: 'O'},
        ],
        rhTypeOptions: [
            {value: null, text: 'Select RH type'},
            {value: 'positive', text: '+'},
            {value: 'negative', text: '-'},
        ],
        citizenshipOptions:[
            {value: null, text: 'Select country'},
            {value: 'Afghanistan', text: 'Afghanistan'},
            {value: 'Albania', text: 'Albania'},
            {value: 'Algeria', text: 'Algeria'},
            {value: 'Andorra', text: 'Andorra'},
            {value: 'Angola', text: 'Angola'},
            {value: 'AntiguaBarbuda', text: 'Antigua and Barbuda'},
            {value: 'Argentina', text: 'Argentina'},
            {value: 'Armenia', text: 'Armenia'},
            {value: 'Australia', text: 'Australia'},
            {value: 'Austria', text: 'Austria'},
            {value: 'Azerbaijan', text: 'Azerbaijan'},
            {value: 'Bahamas', text: 'Bahamas'},
            {value: 'Bahrain', text: 'Bahrain'},
            {value: 'Bangladesh', text: 'Bangladesh'},
            {value: 'Barbados', text: 'Barbados'},
            {value: 'Belarus', text: 'Belarus'},
            {value: 'Philippines', text: 'Philippines'},
        ]
        
      }
    },
    components: {
        InputText, Select
    },
    methods:{
        handleAddChild(){
            
        }
    }
  }
</script>
