<template>
    <div class="card rounded-0 sticky-sidebar">
      <div class="card-body p-0">
        <div class="p-3 text-center">
          <!-- dp here -->
          <img src="/uploads/images/logo.jpg" alt="" class="img-thumbnail rounded-circle mb-3">
          <h5 class="text-uppercase text-success pb-0 mb-0" v-if="$store.getters.user">{{$store.getters.user.name}}</h5>
          <!-- 
            <p class="text-muted">Clinical Pathology</p>
          -->
        </div>
        <div class="list-group " v-for='(route,index) in routes'>
<!--           <a :href="route.path" :class="sideBarCondition($route.path, route.path)" ><i :class="route.fa"></i> <span class="ml-2">{{route.name}} </span></a> -->
        <router-link :to="route.path" :class="sideBarCondition($route.path, route.path)" ><i :class="route.fa"></i> <span class="ml-2">{{route.name}} </span></router-link> 
        </div>                
          <button  class="list-group-item list-group-item-action rounded-0 text-danger" @click="handleLogout"><i class=" fa fa-sign-out-alt fa-lg"></i> <span class="ml-2">Logout</span></button>

      </div>
    </div>  
</template>

<script>
  export default{
    data(){
      return{
        routes: [
          {name: 'Overview', path: '/membership/dashboard', fa: 'fa fa-lg fa-home'},
          {name: 'Credentials', path: '/membership/credentials', fa: 'fa fa-lg fa-key'},
          {name: 'Paydues', path: '/membership/paydues', fa: 'fa fa-lg fa-credit-card'},
          {name: 'Lectures', path: '/membership/lectures', fa: 'fas fa-lg fa-book'}
        ],
      }
    },
    methods:{
      sideBarCondition(path, rpath){
        if(path == rpath){
          return 'list-group-item list-group-item-action rounded-0 active'
        }else{
          return 'list-group-item list-group-item-action rounded-0'

        }
      },
      handleLogout(){
        if(this.$route.name == 'lectureView'){

            this.$store.commit('updateUser', null)
            localStorage.clear()
            window.location.href = '/membership/login'
        }else{

          this.$store.commit('updateUser', null)
          localStorage.clear()
          this.$router.push('/membership/login')
        }
      }
    },
    computed: {
      fullName(){
        return this.$auth.user().firstName+ ' ' +this.$auth.user().lastName;
      }
    }
  }
</script>