<template>
<div>
  <h1>Upload BPI receipt for {{lecture.details}}</h1>
  <hr>
  <form @submit.prevent="handleUploadBpiReceipt" enctype="multipart/form-data">
    <div class="form-group files color">
      <input type="file" class="form-control" @change="onFileSelected" accept="image/x-png,image/gif,image/jpeg" required="">
    </div>
    <button class=" btn btn-success btn-sm" ><i class="fa fa-paper-plane"></i> Submit</button>
    <router-link :to="{name:'lectures'}" class=" btn btn-danger btn-sm text-light"><i class="fa fa-times"></i> Cancel</router-link>
  </form>
</div>

</template>
<script>
  export default {
    data() {
      return {
        lecture: [],
        selectedFile: '',
        isShow: true,
      }
    },
    watch:{
    },
    mounted(){
      this.lectureDetails()
    },
    methods:{
      lectureDetails(){
        axios
          .get('/purchasedLecture/'+this.$route.params.id)
          .then(({data})=>{
            this.lecture = data.purchased
            if(data.purchased !=null){
              this.validationView()
            }else{
              this.$router.push({name:'lectures'})
            }
          })
      },
      onFileSelected(e){
        this.selectedFile = e.target.files[0]
      },
      handleUploadBpiReceipt(){
        let fd = new FormData();
        fd.append('image', this.selectedFile);
        fd.append('lecture_id', this.lecture.lecture_id);
        const config = {
            headers: { 'content-type': 'multipart/form-data' }
        }            
        axios
          .post('/lectures/uploadReceipt', fd, config)
          .then(({data})=>{
            this.$router.push({name:'lectures'})
          })

      },
      validationView(){
        if(this.lecture.payment_status != 'pending'){
          this.$router.push({name:'lectures'})
        }
        if(this.lecture.payment_method != 'bpi'){
          this.$router.push({name:'lectures'})
        }
        if(this.lecture.bpifilepath != null){
          this.$router.push({name:'lectures'})
        }
      }
    },
    components: {
    }
  }
</script>

<style scoped>
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 1px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 700px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}  
</style>